<div class="jumbotron">
	<div class="container">
		<div class="pull-right"><span style="margin-right:10px;"><a data-toggle="modal" data-target="#aboutMenu" href="#">About</a></span><span><%= link_to "Sign in", new_session_path(resource_name), :class => 'btn btn-primary active' %></span></div><br/>
		<%= render 'layouts/about_menu' %>
		<h1>Urban Recon</h1>
	</div>
</div>

<p>Create an account to see the survey results:</p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :multipart => true) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">  
	<div class="input-group input-group-lg"><span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  	<%= f.text_field :name, :placeholder => 'Enter first and last name', :class => 'form-control', :required => 'required' %></div>
	</div>
	
  <div class="form-group">
	<div class="input-group input-group-lg"><span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
  <%= f.email_field :email, :placeholder => 'Enter same email you used for the survey', :class => 'form-control', :required => 'required' %></div>
	</div>

  <div class="form-group">
  	<div class="input-group input-group-lg"><span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
  <%= f.password_field :password, :placeholder => 'Create password', :class => 'form-control', :required => 'required' %></div>
	</div>
	
  <div class="form-group input-group-lg"><%= f.label 'Where I live (helps connect you with people where you are moving)' %>
  <%= f.collection_select(:city_id, City.all, :id, :name, {}, {:class => 'form-control'} )%></div>

	<%= f.file_field :avatar, :class => "hidden", :required => 'required' %>
	<button id="browse-click" type="button" class="btn btn-default btn-lg btn-block">
		<span class="glyphicon glyphicon-camera"></span> Add a photo (required)
	</button>			
<hr/>

<div class="hidden" id="vendorFields">
	<div class="form-group">
		<%= f.label 'Type of Business' %>
		<%= f.collection_select(:vendor_type, User.vendor_types, :to_s, :to_s, {:class => 'form-control input-lg'} ) %>
		</div>

	<div class="form-group">
		<%= f.text_area :biography, :placeholder => 'Bio', :class => 'form-control' %>
		</div>

	<div class="form-group">
		<%= f.text_field :address_line_1, :placeholder => 'Address Line 1', :class => 'form-control' %>
		</div>
	<div class="form-group">
		<%= f.text_field :address_line_2, :placeholder => 'Address Line 2', :class => 'form-control' %>
		</div>
	<div class="form-group">
		<%= f.number_field :zip_code, :placeholder => 'ZIP', :class => 'form-control' %>
		</div>
		<%= f.hidden_field :role, :value => '' %>
		
</div><!-- /vendorfields -->

  <div class="form-group input-group-lg"><%= f.submit "Sign up", :class => 'btn btn-block btn-lg btn-primary' %></div>

	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="" id="vendorCheckBox">
	    I'm a business
	  </label>
	</div>


<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
$(window).load(function () {
    var intervalFunc = function () {
        $('#file-name').html($('#user_avatar').val());
    };
    $('#browse-click').on('click', function () { // use .live() for older versions of jQuery
        $('#user_avatar').click();
        setInterval(intervalFunc, 1);
        return false;
    });
});

$("#new_user").validate({
	ignore: [],
	rules: {
    	user_avatar: {
      		required: true,
      		extension: "jpg"
    	}
  	},
	messages: {
		user_avatar: "Please upload a photo." // this is not working
	}
});

function readURL(input, element) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(element).html(
				'<img src=' +
					e.target.result +
				 	' width="35" />'
				)
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$('#user_avatar').change(function(){
    readURL(this, '#browse-click');
});

$('#vendorCheckBox').click(function(){
	if ($("#vendorCheckBox").is(':checked')){
		$('#vendorFields').removeClass('hidden');
		$('#user_biography').attr('required', 'required');
		$('#user_address_line_1').attr('required', 'required');
		$('#user_zip_code').attr('required', 'required');
		$('#user_name').attr('placeholder', 'Business Name');
		$('#user_role').val('vendor');
	}
	else {
		$('#vendorFields').addClass('hidden');
		$('#user_name').attr('placeholder', 'First and Last Name');
		$('#user_biography').removeAttr('required');
		$('#user_address_line_1').removeAttr('required');
		$('#user_zip_code').removeAttr('required');
		$('#user_role').val('');
	}
	//value for vendor type
});

</script>
<% end %>