		<div id="categoryPractical" class='hidden'>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :grocery_store_1 %>
				    <%= @form.text_field :grocery_store_1, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				  	<div class="form-group">
				    <%= @form.text_field :grocery_store_2, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
					<div class="form-group">
				    <%= @form.text_field :grocery_store_3, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>

					<div class="form-group">
				    <%= @form.label :drug_store_1 %>
				    <%= @form.text_field :drug_store_1, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				  	<div class="form-group">
				    <%= @form.text_field :drug_store_2, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
					<div class="form-group">
				    <%= @form.text_field :drug_store_3, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>

					<div class="form-group">
				    <%= @form.label :walmart_1 %>
				    <%= @form.text_field :walmart_1, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				  	<div class="form-group">
				    <%= @form.text_field :walmart_2, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
					<div class="form-group">
				    <%= @form.text_field :walmart_3, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :hairdresser_1 %>
				    <%= @form.text_field :hairdresser_1, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				  	<div class="form-group">
				    <%= @form.text_field :hairdresser_2, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
					<div class="form-group">
				    <%= @form.text_field :hairdresser_3, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>

					<div class="form-group">
				    <%= @form.label :spa_1 %>
				    <%= @form.text_field :spa_1, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				  	<div class="form-group">
				    <%= @form.text_field :spa_2, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
					<div class="form-group">
				    <%= @form.text_field :spa_3, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>

					<div class="form-group">
				    <%= @form.label :nail_place_1 %>
				    <%= @form.text_field :nail_place_1, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				  	<div class="form-group">
				    <%= @form.text_field :nail_place_2, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
					<div class="form-group">
				    <%= @form.text_field :nail_place_3, :class => 'hidden form-control', :placeholder => '' %>
				  	</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :coffee %>
				    <%= @form.text_field :coffee, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :fast_food %>
				    <%= @form.text_field :fast_food, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :dry_cleaner %>
				    <%= @form.text_field :dry_cleaner, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :hardware %>
				    <%= @form.text_field :hardware, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :handyman %>
				    <%= @form.text_field :handyman, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :craft %>
				    <%= @form.text_field :craft, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :office %>
				    <%= @form.text_field :office, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :clothing %>
				    <%= @form.text_field :clothing, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :shoe %>
				    <%= @form.text_field :shoe, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :pet %>
				    <%= @form.text_field :pet, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
						    <%= @form.label :cable_provider %>
						    <%= @form.text_field :cable_provider, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :monthly_cable_bill %>
						    <%= @form.number_field :monthly_cable_bill, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
						    <%= @form.label :electric_company %>
						    <%= @form.text_field :electric_company, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :monthly_electrical_bill %>
						    <%= @form.number_field :monthly_electrical_bill, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
						    <%= @form.label :gas_company %>
						    <%= @form.text_field :gas_company, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :monthly_gas_bill %>
						    <%= @form.number_field :monthly_gas_bill, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
						    <%= @form.label :cell_phone_provider %>
						    <%= @form.text_field :cell_phone_provider, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :cell_phone_reception %>
						    <%= @form.text_field :cell_phone_reception, :class => 'form-control', :placeholder => 'need to make radio buttons' %>
						  	</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :hows_the_traffic %>
				    <%= @form.number_field :hows_the_traffic, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>

					<div class="form-group">
				    <%= @form.label :hows_the_drivers %>
				    <%= @form.text_field :hows_the_drivers, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :weather_winter %>
				    <%= @form.text_field :weather_winter, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :weather_spring %>
				    <%= @form.text_field :weather_spring, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :weather_summer %>
				    <%= @form.text_field :weather_summer, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :weather_fall %>
				    <%= @form.text_field :weather_fall, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>
			<div class='form-group'>
				<%= @form.text_area :whats_missing_practical, :class => 'form-control' %>
			</div>

			</div><!-- /practical -->

			<%= content_for :javascript do %>
				<script type='text/javascript'>
				$(document).ready(function(){
					renderNewInput('#survey_grocery_store_1', '#survey_grocery_store_2');
					renderNewInput('#survey_grocery_store_2', '#survey_grocery_store_3');
					renderNewInput('#survey_drug_store_1', '#survey_drug_store_2');
					renderNewInput('#survey_drug_store_2', '#survey_drug_store_3');
					renderNewInput('#survey_walmart_1', '#survey_walmart_2');
					renderNewInput('#survey_walmart_2', '#survey_walmart_3');
					renderNewInput('#survey_hairdresser_1', '#survey_hairdresser_2');
					renderNewInput('#survey_hairdresser_2', '#survey_hairdresser_3');
					renderNewInput('#survey_hairdresser_1', '#survey_hairdresser_2');
					renderNewInput('#survey_hairdresser_2', '#survey_hairdresser_3');
					renderNewInput('#survey_spa_1', '#survey_spa_2');
					renderNewInput('#survey_spa_2', '#survey_spa_3');
					renderNewInput('#survey_nail_place_1', '#survey_nail_place_2');
					renderNewInput('#survey_nail_place_2', '#survey_nail_place_3');
				});
				</script>
			<% end %>
