		<div id='categoryDemographics' class='hidden'>
			<div id="cityQuestion" class="panel panel-default">
				  <div class="panel-body">
					<div class="form-group">
				    <%= @form.label :city_id %>
				  	<%= @form.collection_select(:city_id, City.all, :id, :name, {}, {:class => 'form-control'} )%>
					Or add a new one:
					<%= @form.text_field :new_city_name, :class => 'form-control' %>
				  	</div>
				</div><!-- /panel -->
			</div><!-- /city -->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label :neighborhood %>
				    <%= @form.text_field :neighborhood, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :zipcode %>
				    <%= @form.number_field :zipcode, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				  	<%= @form.radio_button :gender, 'Male' %>
					<%= @form.label :gender, 'Male' %>
				  	<%= @form.radio_button :gender, 'Female' %>
					<%= @form.label :gender, 'Female' %>
				  	</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				  	<%= @form.radio_button :self_military_employment, 'Active Duty' %>
					<%= @form.label :self_military_employment, 'Active Duty' %>
				  	<%= @form.radio_button :self_military_employment, 'Reserves' %>
					<%= @form.label :self_military_employment, 'Reserves' %>
				  	<%= @form.radio_button :self_military_employment, 'Civilian Contractor' %>
					<%= @form.label :self_military_employment, 'Civilian Contractor' %>
				  	<%= @form.radio_button :self_military_employment, 'None of the Above' %>
					<%= @form.label :self_military_employment, 'None of the Above' %>
				  	</div>
				<div id="selfMilitaryQuestions" class="hidden panel panel-default">
					  <div class="panel-body">
						Questions about my military service...
						<div class="form-group">
				  		<%= @form.radio_button :self_branch, 'Air Force' %>
						<%= @form.label :self_branch, 'Air Force' %>
				  		<%= @form.radio_button :self_branch, 'Army' %>
						<%= @form.label :self_branch, 'Army' %>
				  		<%= @form.radio_button :self_branch, 'Coast Guard' %>
						<%= @form.label :self_branch, 'Coast Guard' %>
				  		<%= @form.radio_button :self_branch, 'Marines' %>
						<%= @form.label :self_branch, 'Marines' %>
				  		<%= @form.radio_button :self_branch, 'Navy' %>
						<%= @form.label :self_branch, 'Navy' %>
				  		</div>
						<div class="form-group">
					    <%= @form.label :self_command %>
					    <%= @form.text_field :self_command, :class => 'form-control', :placeholder => 'A restaurant' %>
					  	</div>
						<div class="form-group">
					    <%= @form.label :self_commute %>
					    <%= @form.number_field :self_commute, :class => 'form-control', :placeholder => 'A restaurant' %>
					  	</div>
						<div class="form-group">
					  	<%= @form.radio_button :self_rank_class, 'Enlisted' %>
						<%= @form.label :self_rank_class, 'Enlisted' %>
					  	<%= @form.radio_button :self_rank_class, 'Officer' %>
						<%= @form.label :self_rank_class, 'Officer' %>
					  	<%= @form.radio_button :self_rank_class, 'Warrant Officer' %>
						<%= @form.label :self_rank_class, 'Warrant Officer' %>
					  	</div>
						<div class="form-group">
					    <%= @form.label :self_rank %>
					    <%= @form.text_field :self_rank, :class => 'form-control', :placeholder => 'A dropdown' %>
					  	</div>
					</div><!-- /panel-body -->
				</div><!-- /selfMilitary Questions -->
				</div><!-- /panel body -->
			</div><!-- /panel for self mlitary stuff -->
		
		<%= content_for :javascript do %>
			<script type='text/javascript'>
				$('#survey_self_military_employment_active_duty,#survey_self_military_employment_civilian_contractor,#survey_self_military_employment_reserves').click(function(){
					$('#selfMilitaryQuestions').removeClass('hidden');
				});
				$('#survey_self_military_employment_none_of_the_above').click(function(){
					$('#selfMilitaryQuestions').addClass('hidden');					
				})
			</script>
		<% end %>
		
		<div id="marriageStatus" class="panel panel-default">
			  <div class="panel-body">
				<div class="form-group">
			  	<%= @form.radio_button :self_marital_status, 'Married' %>
				<%= @form.label :self_marital_status, 'Married' %>
			  	<%= @form.radio_button :self_marital_status, 'Not Married' %>
				<%= @form.label :self_marital_status, 'Not Married' %>
			  	</div>

			<div id='spouseMilitaryStatus' class="hidden panel panel-default">
				<div class="panel-body">
					<div class='form-group'>
				  	<%= @form.radio_button :spouse_military_employment, 'Active Duty' %>
					<%= @form.label :spouse_military_employment, 'Active Duty' %>
				  	<%= @form.radio_button :spouse_military_employment, 'Reserves' %>
					<%= @form.label :spouse_military_employment, 'Reserves' %>
				  	<%= @form.radio_button :spouse_military_employment, 'Civilian Contractor' %>
					<%= @form.label :spouse_military_employment, 'Civilian Contractor' %>
				  	<%= @form.radio_button :spouse_military_employment, 'None of the Above' %>
					<%= @form.label :spouse_military_employment, 'None of the Above' %>
		  			</div>

					<div id="spouseMilitaryQuestions" class="hidden panel panel-default">
						  <div class="panel-body">
							Questions about spouse's military service...
							<div class="form-group">
						  	<%= @form.radio_button :self_branch, 'Air Force' %>
							<%= @form.label :spouse_branch, 'Air Force' %>
						  	<%= @form.radio_button :spouse_branch, 'Army' %>
							<%= @form.label :spouse_branch, 'Army' %>
						  	<%= @form.radio_button :spouse_branch, 'Coast Guard' %>
							<%= @form.label :spouse_branch, 'Coast Guard' %>
						  	<%= @form.radio_button :spouse_branch, 'Marines' %>
							<%= @form.label :spouse_branch, 'Marines' %>
						  	<%= @form.radio_button :spouse_branch, 'Navy' %>
							<%= @form.label :spouse_branch, 'Navy' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :spouse_command %>
						    <%= @form.text_field :spouse_command, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
			
							<div class="form-group">
						    <%= @form.label :spouse_commute %>
						    <%= @form.number_field :spouse_commute, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						  	<%= @form.radio_button :spouse_rank_class, 'Enlisted' %>
							<%= @form.label :spouse_rank_class, 'Enlisted' %>
						  	<%= @form.radio_button :spouse_rank_class, 'Officer' %>
							<%= @form.label :spouse_rank_class, 'Officer' %>
						  	<%= @form.radio_button :spouse_rank_class, 'Warrant Officer' %>
							<%= @form.label :spouse_rank_class, 'Warrant Officer' %>
					  		</div>
							<div class="form-group">
						    <%= @form.label :spouse_rank %>
						    <%= @form.text_field :spouse_rank, :class => 'form-control', :placeholder => 'A dropdown' %>
						  	</div>
						</div>
					</div><!-- /spousemilitary -->
					</div><!-- /panel -->
				</div><!-- /spousemilitarystatus -->
				</div><!-- / panel -->
			</div><!-- /marriagestatus -->

			<%= content_for :javascript do %>
				<script type='text/javascript'>
					$('#survey_spouse_military_employment_active_duty,#survey_spouse_military_employment_civilian_contractor,#survey_spouse_military_employment_reserves').click(function(){
						$('#spouseMilitaryQuestions').removeClass('hidden');
					});
					$('#survey_spouse_military_employment_none_of_the_above').click(function(){
						$('#spouseMilitaryQuestions').addClass('hidden');					
					});
					$('#survey_self_marital_status_married').click(function(){
						$('#spouseMilitaryStatus').removeClass('hidden');
					});
					$('#survey_self_marital_status_not_married').click(function(){
						$('#spouseMilitaryStatus').addClass('hidden');
					});
				</script>
			<% end %>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">Education level
				  	<%= @form.radio_button :education_level, 'High School' %>
					<%= @form.label :education_level, 'High School' %>
				  	<%= @form.radio_button :education_level, 'College Degree' %>
					<%= @form.label :education_level, 'College Degree' %>
				  	<%= @form.radio_button :education_level, 'Masters or Professional Degree' %>
					<%= @form.label :education_level, 'Masters or Professional Degree' %>
				  	<%= @form.radio_button :education_level, 'Doctorate' %>
					<%= @form.label :education_level, 'Doctorate' %>
				  	</div>
					<div class="form-group">
				  	<%= @form.radio_button :annual_household_income, '$30K or less' %>
					<%= @form.label :annual_household_income, '$30K or less' %>
				  	<%= @form.radio_button :annual_household_income, '$40K' %>
					<%= @form.label :annual_household_income, '$40K' %>
				  	<%= @form.radio_button :annual_household_income, '$50K' %>
					<%= @form.label :annual_household_income, '$50K' %>
				  	<%= @form.radio_button :annual_household_income, '$60K' %>
					<%= @form.label :annual_household_income, '$60K' %>
				  	<%= @form.radio_button :annual_household_income, '$70K' %>
					<%= @form.label :annual_household_income, '$70K' %>
				  	<%= @form.radio_button :annual_household_income, '$80K' %>
					<%= @form.label :annual_household_income, '$80K' %>
				  	<%= @form.radio_button :annual_household_income, '$90K' %>
					<%= @form.label :annual_household_income, '$90K' %>
				  	<%= @form.radio_button :annual_household_income, '$100K' %>
					<%= @form.label :annual_household_income, '$100K' %>
				  	<%= @form.radio_button :annual_household_income, '$110K' %>
					<%= @form.label :annual_household_income, '$110K' %>
				  	<%= @form.radio_button :annual_household_income, '$120K' %>
					<%= @form.label :annual_household_income, '$120K' %>
				  	<%= @form.radio_button :annual_household_income, '$130K' %>
					<%= @form.label :annual_household_income, '$130K' %>
				  	<%= @form.radio_button :annual_household_income, '$140K' %>
					<%= @form.label :annual_household_income, '$140K' %>
				  	<%= @form.radio_button :annual_household_income, '$150K' %>
					<%= @form.label :annual_household_income, '$150K' %>
				  	<%= @form.radio_button :annual_household_income, 'More than $150K' %>
					<%= @form.label :annual_household_income, 'More than $50K' %>
				  	</div>
					<div class="form-group">
				    <%= @form.label :car_gas_expense %>
				    <%= @form.text_field :car_gas_expense, :class => 'form-control', :placeholder => 'A restaurant' %>
				  	</div>
				</div>
			</div>
			<div class="panel panel-default">
				  <div class="panel-body">
					<div class="form-group">Do you have any kids?
				  	<%= @form.radio_button :kid_status, 'Yes' %>
					<%= @form.label :kid_status, 'Yes' %>
				  	<%= @form.radio_button :kid_status, 'No' %>
					<%= @form.label :kid_status, 'No' %>
				  	</div>

					<div id="kidQuestions" class="hidden panel panel-default">
						  <div class="panel-body">
							<div class="form-group">
						  	<%= @form.radio_button :kid_number, '1' %>
							<%= @form.label :kid_number, '1' %>
						  	<%= @form.radio_button :kid_number, '2' %>
							<%= @form.label :kid_number, '2' %>
						  	<%= @form.radio_button :kid_number, '3' %>
							<%= @form.label :kid_number, '3' %>
						  	<%= @form.radio_button :kid_number, '4' %>
							<%= @form.label :kid_number, '4' %>
						  	<%= @form.radio_button :kid_number, '5' %>
							<%= @form.label :kid_number, '5' %>
						  	<%= @form.radio_button :kid_number, 'More than 5' %>
							<%= @form.label :kid_number, 'More than 5' %>
						  	</div>
						</div><!-- /panel -->
					</div><!-- kidquesitons -->
				</div>
			</div>

			<%= content_for :javascript do %>
				<script type='text/javascript'>
					$('#survey_kid_status_yes').click(function(){
						$('#kidQuestions').removeClass('hidden');
					});
					$('#survey_kid_status_no').click(function(){
						$('#kidQuestions').addClass('hidden');
					});
				</script>
			<% end %>
			
			
			<div class="panel panel-default">
				  <div class="panel-body">
					<div class="form-group">
				  	<%= @form.radio_button :own_or_rent, 'Own' %>
					<%= @form.label :own_or_rent, 'Own' %>
				  	<%= @form.radio_button :own_or_rent, 'Rent' %>
					<%= @form.label :own_or_rent, 'Rent' %>
				  	<%= @form.radio_button :own_or_rent, 'Base Housing' %>
					<%= @form.label :own_or_rent, 'Base Housing' %>
				  	</div>

					<div id="rentQuestions" class="hidden panel panel-default">
						  <div class="panel-body">
							<div class="form-group">
						    <%= @form.label :mothly_rent %>
						    <%= @form.number_field :mothly_rent, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :square_feet_rental %>
						    <%= @form.number_field :square_feet_rental, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
						</div><!-- /panel -->
					</div><!-- /rentQuestions -->

					<div id="ownQuestions" class="hidden panel panel-default">
						  <div class="panel-body">
							<div class="form-group">
						    <%= @form.label :square_feet_house %>
						    <%= @form.number_field :square_feet_house, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">
						    <%= @form.label :nearby_home_value %>
						    <%= @form.text_field :nearby_home_value, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
							<div class="form-group">How old are the homes around you?
						  	<%= @form.radio_button :age_of_homes, 'Older than 20 years' %>
							<%= @form.label :age_of_homes, 'Older than 20 years' %>
						  	<%= @form.radio_button :age_of_homes, '15-20 years old' %>
							<%= @form.label :age_of_homes, '15-20 years old' %>
						  	<%= @form.radio_button :age_of_homes, '10-15 years old' %>
							<%= @form.label :age_of_homes, '10-15 years old' %>
						  	<%= @form.radio_button :age_of_homes, '5-10 years old' %>
							<%= @form.label :age_of_homes, '5-10 years old' %>
						  	<%= @form.radio_button :age_of_homes, '5 years or newer' %>
							<%= @form.label :age_of_homes, '5 years or newer' %>
						  	</div>

							<div class="form-group">
						    <%= @form.label :yard_size %>
						    <%= @form.text_field :yard_size, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	<%= @form.radio_button :yard_size, 'No yard space' %>
							<%= @form.label :yard_size, 'No yard space' %>
						  	<%= @form.radio_button :yard_size, 'Small' %>
							<%= @form.label :yard_size, 'Small' %>
						  	<%= @form.radio_button :yard_size, 'Average' %>
							<%= @form.label :yard_size, 'Average' %>
						  	<%= @form.radio_button :yard_size, 'Large' %>
							<%= @form.label :yard_size, 'Large' %>
						  	<%= @form.radio_button :yard_size, 'Huge' %>
							<%= @form.label :yard_size, 'Huge' %>
						  	</div>
							<div class="form-group">
						  	<%= @form.radio_button :is_there_POA, 'Yes' %>
							<%= @form.label :is_there_POA, 'Yes' %>
						  	<%= @form.radio_button :is_there_POA, 'No' %>
							<%= @form.label :is_there_POA, 'No' %>
						  	</div>

							<div id="POAQuestions" class="hidden panel panel-default">
								  <div class="panel-body">
									<div class="form-group">
								  	<%= @form.radio_button :POA_behavior, 'Very Relaxed' %>
									<%= @form.label :POA_behavior, 'Very Relaxed' %>
								  	<%= @form.radio_button :POA_behavior, 'Normal' %>
									<%= @form.label :POA_behavior, 'Normal' %>
								  	<%= @form.radio_button :POA_behavior, 'Aggressive' %>
									<%= @form.label :POA_behavior, 'Aggressive' %>
								  	</div>
								</div><!-- /panel -->
							</div><!-- /POA question -->
					
							<div class="form-group">
						    <%= @form.label :subdivision %>
						    <%= @form.text_field :subdivision, :class => 'form-control', :placeholder => 'A restaurant' %>
						  	</div>
						</div><!-- /panel -->
					</div><!-- /ownQuestions -->
				</div><!-- /panelbody for own or rent questions -->
			</div><!-- panelbody for own or rent questions -->
			<%= content_for :javascript do %>
				<script type='text/javascript'>
					$('#survey_own_or_rent_rent').click(function(){
						$('#rentQuestions').removeClass('hidden');
						$('#ownQuestions').addClass('hidden');
					});
					$('#survey_own_or_rent_own').click(function(){
						$('#ownQuestions').removeClass('hidden');
						$('#rentQuestions').addClass('hidden');
					});
					$('#survey_own_or_rent_base_housing').click(function(){
						$('#ownQuestions').addClass('hidden');
						$('#rentQuestions').addClass('hidden');
					});
					$('#survey_is_there_POA_yes').click(function(){
						$('#POAQuestions').removeClass('hidden');
					});
					$('#survey_is_there_POA_no').click(function(){
						$('#POAQuestions').addClass('hidden');
					});

				</script>
			<% end %>


			<div class="panel panel-default">
				  <div class="panel-body">
					<div class="form-group">If you could do it again, you would:
				  	<%= @form.radio_button :recommend_rent_or_buy, 'Rent' %>
					<%= @form.label :recommend_rent_or_buy, 'Rent' %>
				  	<%= @form.radio_button :recommend_rent_or_buy, 'Own' %>
					<%= @form.label :recommend_rent_or_buy, 'Own' %>
				  	<%= @form.radio_button :recommend_rent_or_buy, 'Base Housing' %>
					<%= @form.label :recommend_rent_or_buy, 'Base Housing' %>
				  	</div>
				</div>
			</div>

			<div class='form-group'>
				<%= @form.text_area :whats_missing_demographics, :class => 'form-control' %>
			</div>
			<div class="actions">
		    <%= @form.submit %>
		  </div>
		  
		</div><!-- /demographics -->			