		<div id="categoryFamily" class="">
			
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Who should you contact to get a child signed up for:
					<div class="form-group">
				    <%= @form.label 'Gymnastics' %>
				    <%= @form.text_field :contact_gymnastics, :class => 'form-control countable placeable', :placeholder => "Gymnastics" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Dance' %>
				    <%= @form.text_field :contact_dance, :class => 'form-control countable placeable', :placeholder => "Dance" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Karate' %>
				    <%= @form.text_field :contact_karate, :class => 'form-control countable placeable', :placeholder => "Karate" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Ballet' %>
				    <%= @form.text_field :contact_ballet, :class => 'form-control countable placeable', :placeholder => "Ballet" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Baseball' %>
				    <%= @form.text_field :contact_baseball, :class => 'form-control countable placeable', :placeholder => "Baseball" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Basketball' %>
				    <%= @form.text_field :contact_basketball, :class => 'form-control countable placeable', :placeholder => "Basketball" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Soccer' %>
				    <%= @form.text_field :contact_soccer, :class => 'form-control countable placeable', :placeholder => "Soccer" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Football' %>
				    <%= @form.text_field :contact_football, :class => 'form-control countable placeable', :placeholder => "Football" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Lacrosse' %>
				    <%= @form.text_field :contact_lacrosse, :class => 'form-control countable placeable', :placeholder => "Lacrosse" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Music' %>
				    <%= @form.text_field :contact_music, :class => 'form-control countable placeable', :placeholder => "Music" %>
				  	</div>
					
					<div class="form-group">
				    <%= @form.label 'Tennis' %>
				    <%= @form.text_field :contact_tennis, :class => 'form-control countable placeable', :placeholder => "Tennis" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Golf' %>
				    <%= @form.text_field :contact_golf, :class => 'form-control countable placeable', :placeholder => "Golf" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Boy Scouts' %>
				    <%= @form.text_field :contact_boyscouts, :class => 'form-control countable placeable', :placeholder => "Boy Scouts" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Girl Scouts' %>
				    <%= @form.text_field :contact_girlscouts, :class => 'form-control countable placeable', :placeholder => "Girl Scouts" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Lanuages' %>
				    <%= @form.text_field :contact_language, :class => 'form-control countable placeable', :placeholder => "Languages" %>
				  	</div>
					
					
					
					<div class="form-group">
				    <%= @form.label 'Art' %>
				    <%= @form.text_field :contact_art, :class => 'form-control countable placeable', :placeholder => "Art" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Swimming' %>
				    <%= @form.text_field :contact_swimming, :class => 'form-control countable placeable', :placeholder => "Swimming" %>
				  	</div>
					<div class="form-group">
				    <%= @form.label 'Summer Camp' %>
				    <%= @form.text_field :contact_any_other_kid_stuff, :class => 'form-control countable placeable', :placeholder => "Anything else" %>
			  		</div>
				</div>
			</div>

			<div class='form-group'>
				<%= @form.text_area :whats_missing_family, :class => 'form-control', :style => 'height:34px;', :placeholder => 'Feedback for this page' %>
			</div>

		</div><!-- /categoryFamily -->