		<div id='categoryDemographics' class='hidden' style='margin-bottom:75px;'>
			<div class="panel panel-default">
				  <div class="panel-body">
					<p><strong>Your personal data won't be displayed with your responses. It's only used to organize survey responses after many people have responded. Thanks for taking the survey!</strong></p>
				</div>
			</div>

			<div class="panel panel-default">
			  	<div class="panel-body">
					<div class="form-group">
						<p>Email*:
						<%= @form.email_field :email, :class => 'form-control', :placeholder => 'Email', :required => 'required' %>
					</div>
					<div class="form-group">
						<p>First Name*:</p>
						<%= @form.text_field :first_name, :class => 'form-control', :placeholder => 'First Name', :required => 'required' %>
					</div>
					<div class="form-group">
						<p>Last Name*:</p>
						<%= @form.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name', :required => 'required' %>
					</div>
				</div><!-- /panel body -->
			</div><!-- /panel -->
		

			<div id="cityQuestion" class="panel panel-default">
				  <div class="panel-body">
					<div class="form-group">
				    <%= @form.label :city_id %>
				  	<%= @form.collection_select(:city_id, City.all, :id, :name, {}, {:class => 'form-control'} )%>
					Or add a new one:
					<%= @form.text_field :new_city_name, :class => 'form-control' %>
				  	</div>
				</div><!-- /panel -->
			</div><!-- /city -->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
				    <%= @form.label "Neighborhood*" %>
				    <%= @form.text_field :neighborhood, :class => 'form-control', :placeholder => 'Neighborhood', :required => 'required' %>
				  	</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
						<p>Gender*:</p>
						<button type="button" class="gender-btn btn btn-default btn-lg">Male</button>
						<button type="button" class="gender-btn btn btn-default btn-lg">Female</button>
						<%= @form.text_field :gender, :class => 'hidden', :required => 'required' %>
				  	</div>
				</div>
			</div>
		
		<%= content_for :javascript do %>
			<script type='text/javascript'>
				$('#survey_self_military_employment_active_duty,#survey_self_military_employment_civilian_contractor,#survey_self_military_employment_reserves').click(function(){
					$('#selfMilitaryQuestions').removeClass('hidden');
				});
				$('#survey_self_military_employment_none_of_the_above').click(function(){
					$('#selfMilitaryQuestions').addClass('hidden');					
				})
				$('.self-mil-employment-btn').click(function(){ 
					$('.self-mil-employment-btn').removeClass('btn-primary').addClass('btn-default');
					$(this).removeClass('btn-default').addClass('btn-primary');
			       	$('#survey_self_military_employment').val($(this).html());
					$('#survey_self_military_employment').removeAttr('required'); // validation
					$('#new_survey label[for="survey_self_military_employment"]').addClass("hidden"); //validation
			   	});
				$('.gender-btn').click(function(){ 
					$('.gender-btn').removeClass('btn-primary').addClass('btn-default');
					$(this).removeClass('btn-default').addClass('btn-primary');
			       	$('#survey_gender').val($(this).html());
					$('#survey_gender').removeAttr('required'); // validation
					$('#new_survey label[for="survey_gender"]').addClass("hidden"); //validation
			   	});
				$('.self-branch-btn').click(function(){ 
					$('.self-branch-btn').removeClass('btn-primary').addClass('btn-default');
					$(this).removeClass('btn-default').addClass('btn-primary');
			       	$('#survey_self_branch').val($(this).html());
			   	});
				$('.self-rank-class-btn').click(function(){ 
					$('.self-rank-class-btn').removeClass('btn-primary').addClass('btn-default');
					$(this).removeClass('btn-default').addClass('btn-primary');
			       	$('#survey_self_rank_class').val($(this).html());
					if ($('#survey_self_rank_class').val() == "Enlisted")
					{
						$('#enlistedDiv').removeClass('hidden');
						$('#warrantDiv,#officerDiv').addClass('hidden');
					}
					if ($('#survey_self_rank_class').val() == "Warrant Officer")
					{
						$('#warrantDiv').removeClass('hidden');
						$('#enlistedDiv,#officerDiv').addClass('hidden');
					}
					if ($('#survey_self_rank_class').val() == "Officer")
					{
						$('#officer').removeClass('hidden');
						$('#warrantDiv,#enlistedDiv').addClass('hidden');
					}
			   	});
				$('.self-rank-btn').click(function(){ 
					$('.self-rank-btn').removeClass('btn-primary').addClass('btn-default');
					$(this).removeClass('btn-default').addClass('btn-primary');
			       	$('#survey_self_rank').val($(this).html());
			   	});
			</script>
		<% end %>
		

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
						<p>Your level of education*:</p>
						<button type="button" class="education-btn btn btn-default btn-lg">High School</button>
						<button type="button" class="education-btn btn btn-default btn-lg">College Degree</button>
						<button type="button" class="education-btn btn btn-default btn-lg">Masters or Professional Degree</button>
						<button type="button" class="education-btn btn btn-default btn-lg">Doctorate</button>
						<%= @form.text_field :education_level, :class => 'hidden', :required => 'required' %>
				  	</div>
					<div class="form-group">
						<p>Annual household income*:</p>
						<button type="button" class="income-btn btn btn-default btn-lg">$30K or less</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$40K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$50K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$60K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$70K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$80K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$90K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$100K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$110K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$120K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$130K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$140K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">$150K</button>
						<button type="button" class="income-btn btn btn-default btn-lg">More than $150K</button>
						<%= @form.text_field :annual_household_income, :class => 'hidden', :required => 'required' %>
				  	</div>
				</div>
			</div>
			<div class="panel panel-default">
				  <div class="panel-body">
					<div class="form-group">
						<p>Do you have any kids*?</p>
						<button type="button" id="survey_kid_status_yes" class="kid-btn btn btn-default btn-lg">Yes</button>
						<button type="button" id="survey_kid_status_no" class="kid-btn btn btn-default btn-lg">No</button>
						<%= @form.text_field :kid_status, :class => 'hidden', :required => 'required' %>
				  	</div>

					<div id="kidQuestions" class="hidden panel panel-default">
						  <div class="panel-body">
							<div class="form-group">
								<p>How many?</p>
								<%= @form.number_field :kid_number, :class => 'hidden' %>
								<button type="button" class="kid-number-btn btn btn-default btn-lg">1</button>
								<button type="button" class="kid-number-btn btn btn-default btn-lg">2</button>
								<button type="button" class="kid-number-btn btn btn-default btn-lg">3</button>
								<button type="button" class="kid-number-btn btn btn-default btn-lg">4</button>
								<button type="button" class="kid-number-btn btn btn-default btn-lg">5</button>
								<button type="button" class="kid-number-btn btn btn-default btn-lg">More than 5</button>
						  	</div>
						</div><!-- /panel -->
					</div><!-- kidquesitons -->
				</div>
			</div>

			<%= content_for :javascript do %>
				<script type='text/javascript'>
					$('#survey_kid_status_yes').click(function(){
						$('#kidQuestions').removeClass('hidden');
					});
					$('#survey_kid_status_no').click(function(){
						$('#kidQuestions').addClass('hidden');
						$('#survey_kid_number').val('0');		       	
					});
					$('.education-btn').click(function(){ 
						$('.education-btn').removeClass('btn-primary').addClass('btn-default');
						$(this).removeClass('btn-default').addClass('btn-primary');
				       	$('#survey_education_level').val($(this).html());
						$('#survey_education_level').removeAttr('required'); // validation
						$('#new_survey label[for="survey_education_level"]').addClass("hidden"); //validation
				   	});					
					$('.income-btn').click(function(){ 
						$('.income-btn').removeClass('btn-primary').addClass('btn-default');
						$(this).removeClass('btn-default').addClass('btn-primary');
				       	$('#survey_annual_household_income').val($(this).html());
						$('#survey_annual_household_income').removeAttr('required'); // validation
						$('#new_survey label[for="survey_annual_household_income"]').addClass("hidden"); //validation
				   	});					
					$('.kid-btn').click(function(){ 
						$('.kid-btn').removeClass('btn-primary').addClass('btn-default');
						$(this).removeClass('btn-default').addClass('btn-primary');
						if ($(this).html() == "Yes")
						{
					       	$('#survey_kid_status').val('1');				
						}
						else
						{
					       	$('#survey_kid_status').val('0');							
						}
						$('#survey_kid_status').removeAttr('required'); // validation
						$('#new_survey label[for="survey_kid_status"]').addClass("hidden"); //validation
				   	});					
					$('.kid-number-btn').click(function(){ 
						$('.kid-number-btn').removeClass('btn-primary').addClass('btn-default');
						$(this).removeClass('btn-default').addClass('btn-primary');
				       	$('#survey_kid_number').val($(this).html());
				   	});					
					
				</script>
			<% end %>
			
			

			<div class='form-group'>
				<%= @form.text_area :whats_missing_demographics, :style => 'height:34px;', :placeholder => 'Feedback for this page', :class => 'form-control' %>
			</div>
			<div class="actions">
		    <%= @form.submit 'You need 5 points', :id => 'submitButton', :class => 'btn btn-large btn-success disabled' %>
		  </div>
		  
		</div><!-- /demographics -->			