<%= form_for @military_branch, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
	  <%= f.select :name, MilitaryBranch.branches  %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                military_branches_path, :class => 'btn' %>
  </div>
<% end %>
