<% if user_signed_in? %>
<% if current_user.voted_for?(military_discount) %>
	<% if military_discount.votes.where(:voter_id => current_user.id).last.vote %>
		<%= link_to vote_down_military_discount_path(military_discount), :remote => :true, :method => :post, :class => 'btn btn-success' do %>
			<i id="<%= 'heart'+ military_discount.id.to_s %>" class="icon-thumbs-up"></i>
		<% end %>
	<% else %>
		<%= link_to vote_up_military_discount_path(military_discount), :remote => :true, :method => :post, :class => 'btn' do %>
			<i id="<%= 'heart'+ military_discount.id.to_s %>" class="icon-thumbs-up"></i>
		<% end %>
	<% end %>
<% else %>
	<%= link_to vote_up_military_discount_path(military_discount), :remote => :true, :method => :post, :class => 'btn' do %>
		<i id="<%= 'heart'+ military_discount.id.to_s %>" class="icon-thumbs-up"></i>
	<% end %>
<% end %>
<% end %>
<% militaryDiscountLikesCountID = 'militaryDiscountLikesCount'+ military_discount.id.to_s %>
<li id='<%= militaryDiscountLikesCountID %>' ><%= military_discount.plusminus %></li>
