<%- model_class = MilitaryDiscount -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @military_discount.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place_id) %>:</strong></dt>
  <dd><%= @military_discount.place_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              military_discounts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_military_discount_path(@military_discount), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              military_discount_path(@military_discount),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
