<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label 'First and last name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

<%= f.label 'Public URL to an image of you' %>
	<%= f.text_field :profile_image %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
