<div class="page-header">
  <h1>Womditty Heroes</h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user_path(user) do %>
			<img src=<%= user.profile_image %> width='40' class="img-rounded">
			<% end %></td>
        <td><%= user.name %></td>
        <td><%= user.member_rank %></td>
        <td><%= user.duty_station.name %></td>
        <td><%= user.neighborhood.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>