<div class="page-header">
  <h1><img width='100' src=<%= @user.profile_image %> /><%= @user.name %></h1>
</div>

<% if user_signed_in? %>
  <div id="follow_user">
    <%= render :partial => "shared/follow_user", :locals => {:user => @user} %>
  </div>
<% end %>

<h2>Discussion</h2>
<table class="table">
	<% @posts.each do |post| %>
		<%= render 'users/posts', :post => post %>
	<% end %>
</table>

<h2>Comments</h2>
<table class="table">
	<% @answers.each do |answer| %>
		<%= render 'users/answers', :answer => answer %>
	<% end %>
</table>

<h2>Local Stuff</h2>
<table class="table">
	<% @comments.each do |comment| %>
		<%= render 'users/comments', :comment => comment %>
	<% end %>
</table>