<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Apartments"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Apartments
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Base Housing"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Base Housing
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Neighborhoods"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Neighborhoods
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Traffic"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Traffic and Commute
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Schools"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Schools
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Pets"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Pet Stuff
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Jobs"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Jobs for Spouses
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Medical"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Medical Stuff
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Grocery Stores"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Grocery Stores
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Shopping"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Shopping
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Restaurants"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Restaurants
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Base Atmosphere"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Base Atmosphere
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Cost of Living"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Cost of Living
		<% end %>
    </li>
	<li>
		<%= link_to posts_path('q[body_cont]' => "Charleston Fun"), :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> Fun Stuff
		<% end %>
    </li>
    <li class="divider"></li>
	<li>
		<%= link_to posts_path, :tabindex => "-1" do %>
			<i class='icon-fixed-width icon-comments'></i> All
		<% end %>
    </li>
</ul>