          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Cities</li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "San Diego") do %>
						<i class='icon-fixed-width icon-comments'></i> San Diego
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Bangor") do %>
						<i class='icon-fixed-width icon-comments'></i> Bangor, WA
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Groton") do %>
						<i class='icon-fixed-width icon-comments'></i> Groton
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Kings Bay") do %>
						<i class='icon-fixed-width icon-comments'></i> Kings Bay
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Pearl Harbor") do %>
						<i class='icon-fixed-width icon-comments'></i> Pearl Harbor
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Norfolk") do %>
						<i class='icon-fixed-width icon-comments'></i> Norfolk
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Guam") do %>
						<i class='icon-fixed-width icon-comments'></i> Guam
					<% end %>
			  </li>
              <li>
					<%= link_to posts_path('q[body_cont]' => "Ballston Spa") do %>
						<i class='icon-fixed-width icon-comments'></i> Ballston Spa, NY
					<% end %>
			  </li>
			</ul>
          </div><!--/.well -->
