<div id="myModal" class="modal hide fade"  data-keyboard="false" data-backdrop="static">
  <div class="modal-header">
    <h3>Just a couple questions!</h3>
  </div>
  <div class="modal-body">
	<%= form_tag(user_path(current_user), :method => 'PUT', :id => 'profileCompleterForm' )%>
	  <div class="control-group">
	    <%= label_tag "What's your or your spouse's military rank?" %>
	    <div class="controls">
		  <%= select( :user, :member_rank, User.ranks, {} , { :id => 'memberRankField', :required => 'required' } ) %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= label_tag "Which is your duty station?" %>
	    <div class="controls">
			<%= collection_select( :user, :duty_station_id, DutyStation.all, :id, :name, {}, { :id => 'dutyStationField', :required => 'required' } ) %>
			or, <%= link_to 'add a new one', new_duty_station_path(:user_generated => true)%>
	    </div>
	  </div>

	  <div class="modal-footer">
		<%= submit_tag 'Done', :class => 'btn' %>
	  </div>

  </div>
	<script>
	$("#profileCompleterForm").validate();
	</script>
</div>
<script type="text/javascript">
	$('#myModal').modal('show')
</script>
