	<li>
		<%= link_to activities_path do %>
			<span class='glyphicon glyphicon-star'></span> Feed
		<% end %>
	</li>
	<li><%= link_to user_path(current_user) do %>
		<%= image_tag(current_user.profile_image, { :width => '30', :class => 'img-rounded' } )%>
		<% end %>
		</li>
	<li><%= link_to current_user.name, user_path(current_user) %></li>
	<li><%= link_to user_path(current_user) do %>
		<p class="badge"><%= current_user.karma %></p>
		<% end %>
		</li>
	<li><%= link_to destroy_user_session_path, :method => :delete do %>
		<span class="glyphicon glyphicon-off"></span> Logout
		<% end %>
		</li>