<%= form_for(@center_coordinate) do |f| %>
  <% if @center_coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@center_coordinate.errors.count, "error") %> prohibited this center_coordinate from being saved:</h2>

      <ul>
      <% @center_coordinate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :neighborhood %><br />
	<%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name, { :include_blank => true} )%>
  </div>
  <div class="field">
    <%= f.label :city %><br />
	<%= f.collection_select(:city_id, City.all, :id, :name, { :include_blank => true} )%>
  </div>
  <div class="field">
    <%= f.label :place %><br />
	<%= f.collection_select(:place_id, Place.all, :id, :name, { :include_blank => true} )%>
  </div>
  <div class="field">
    <%= f.label :duty_station %><br />
	<%= f.collection_select(:duty_station_id, DutyStation.all, :id, :name, { :include_blank => true} )%>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
