<li class="list-group-item">
	<div><%= image_tag(answer.photo.image.url, :class => "img-responsive img-rounded") if answer.photo %></div>
	<div><%= answer.body %></div>
	<div class="pull-right"><%= render 'answers/like_button', :answer => answer %></div>
	<span><%= link_to user_path(:id => answer.user.id) do %>					
		<img width='30' src=<%= answer.user.profile_image %> class="img-rounded" />
		<% end %></span>
	<span><%= link_to user_path(:id => answer.user.id) do %>					
		<%= answer.user.name %>
		<% end %></span>
	<span class="badge"><%= answer.user.karma %></span>
</li>