<li class="list-group-item">

	<% if answer.photo %>	
	<div><%= image_tag(answer.photo.image.url(:full), :class => "img-responsive img-rounded") unless answer.photo.image.url.empty? %></div>
	<% end %>
	<div><%= answer.body %></div>
	<div class="pull-right"><%= render 'answers/like_button', :answer => answer %></div>
	<span><%= link_to user_path(:id => answer.user.id) do %>					
		<img width='30' src=<%= answer.user.profile_image %> class="img-rounded" />
		<% end %>
	<%= answer.user.name %>
	<span class="badge"><%= answer.user.karma %></span>
	</span>
</li>