<tr style='background-color:#D3D3D3;' class='postAnswers<%= post.id %>' id='postAnswerForm<%= post.id %>'>
	<td></td>
	<td><ul class='list-unstyled text-center'>
		<li><img src=<%= current_user.profile_image %> width='50' /></li>
	</ul></td>
	<td>
		<form accept-charset="UTF-8" action="/answers" data-remote="false" class="form-inline" enctype="multipart/form-data" method="post">
			<input name="utf8" type="hidden" value="&#x2713;" />
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			<input id="answer_body" name="answer[body]" size="30" type="text" />
			<input id="answer_photo_attributes_image" name="answer[photo_attributes][image]" type="file" />
			<input id="answer_user_id" name="answer[user_id]" type="hidden" value="<%= current_user.id %>" />
			<input id="answer_post_id" name="answer[post_id]" type="hidden" value="<%= post.id %>" />
			<input class="btn" name="commit" type="submit" value="Comment" />
		</form>
	</td>

</tr>