<% if current_user.voted_for?(answer) %>
	<%= link_to vote_down_answer_path(answer), :remote => :true, :method => :post, :class => 'btn btn-success' do %>
		<li><i id="<%= 'answerHeart'+ answer.id.to_s %>" class="icon-thumbs-up"></i></li>
	<% end %>
<% else %>
	<%= link_to vote_up_answer_path(answer), :remote => :true, :method => :post, :class => 'btn' do %>
		<li><i id="<%= 'answerHeart'+ answer.id.to_s %>" class="icon-thumbs-up"></i></li>
	<% end %>
<% end %>

<% answerLikesCountID = 'answerLikesCount'+ answer.id.to_s %>
<li id='<%= answerLikesCountID %>' ><%= answer.votes_for %></li>
