// add the new comment to the list of comments
// update the count of answers to the post

var postAnswers = "postAnswers" + "<%= @post.id.to_s %>";

$("<tr style='background-color:#D3D3D3;' class=" + postAnswers + ">" +
	"<td></td>" +
	"<td><ul class='unstyled text-center'>" +
		"<li><img width='30' src=<%= @answer.user.profile_image %> class='img-rounded' /></li>" +
    	"<li><%= @answer.user.firstname %></li>" +
		"<li class='answerUserVoteCount<%= @answer.user.id.to_s %>' >" + "<%= @answer.user.karma %></li>" +
		"<li class='userNeighborhoodName'>Charleston</li>" +
	"</ul></td>" +
	"<td><%= @answer.body %></td>" +
	"<td><%= @answer.created_at.to_date.strftime('%-m/%-d/%y') %></td>" +
	"<td>" +
		"<ul class='unstyled text-center'>" +
			"<%= j render 'answers/like_button', :answer => @answer %>" +
		"</ul>" +
	"</td>" +
"</tr>").insertBefore('#postAnswerForm' + '<%= "#{@post.id}" %>');

// update the count of answers
$('#postAnswersCount' + '<%= "#{@post.id}" %>').text('<%= "#{@post.answers.count.to_s}" %>');