$('#postID' + '<%= "#{@post.id}" %>').after("<%=j (render :partial => 'inline_form', :locals => {:post => @post}) %>");

<% @answers.each do |answer| %>

$('#postID' + '<%= "#{@post.id}" %>').after("<tr style='background-color:#D3D3D3;' class='postAnswers<%= @post.id.to_s %>'>" +
	"<td></td>" +
	<% if answer.photo %>
		"<td><img src='<%= answer.photo.image.url %>' width='150' /></td>" +
	<% else %>
		"<td></td>" +
	<% end %>
	"<td><%= answer.body %></td>" +
	"<td><ul class='list-unstyled text-center'>" +
		"<li><img src='<%= answer.user.profile_image %>' class='img-rounded' width='30' /></li>" +
    	"<li><%= answer.user.firstname %></li>" +
		"<li class='answerUserVoteCount<%= answer.user.id.to_s %>' >" + "<%= answer.user.karma %></li>" +
	"</ul></td>" +
	"<td><%= answer.created_at.to_date.strftime('%-m/%-d/%y') %></td>" +
	"<td>" +
		"<ul class='list-unstyled text-center'>" +
			"<%= j render 'answers/like_button', :answer => answer %>" +
		"</ul>" +
	"</td>" +
"</tr>");

<% end %>

$('i#chevronID' + '<%= "#{@post.id}" %>').attr('class', 'icon-chevron-up icon-2x');
$('i#chevronID' + '<%= "#{@post.id}" %>').parent().parent().attr("href", "<%= hide_answers_post_path(@post) %>");