<h2>Sign up a vendor</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
	<%= f.label :business_name %>
	<%= f.text_field :business_name, :class => 'form-control' %>
</div>

<div><%= f.label :email %><br />
<%= f.email_field :email, :autofocus => true %></div>

<div><%= f.label :password %><br />
<%= f.password_field :password %></div>

<div><%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %></div>



<div class="form-group">
	<%= f.label :address_line_1 %>
	<%= f.text_field :address_line_1, :class => 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :address_line_2 %>
	<%= f.text_field :address_line_2, :class => 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :zip_code %>
	<%= f.text_field :zip_code, :class => 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :phone_number %>
	<%= f.telephone_field :phone_number, :class => 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :contact_email %>
	<%= f.email_field :contact_email, :class => 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :site_url %>
	<%= f.url_field :site_url, :class => 'form-control' %>
</div>

<p>Business point of contact</p>
<div class="form-group">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, :class => 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, :class => 'form-control' %>
</div>


	<%= f.label :main_image %>
	<%= f.file_field :main_image %>
	<br/>

<%= f.label :logo_image %>
	<%= f.file_field :logo_image %>
	<br/>

<%= f.label :promotion_image %>
	<%= f.file_field :promotion_image %>
	<br/>

<%= f.label :extra_image_1 %>
	<%= f.file_field :extra_image_1 %>
	<br/>

<%= f.label :extra_image_2 %>
	<%= f.file_field :extra_image_2 %>
	<br/>

<%= f.label :extra_image_3 %>
	<%= f.file_field :extra_image_3 %>
	<br/>
  <div class="actions form-group">
    <%= f.submit :class => 'btn btn-lg' %>
  </div>

<% end %>

<%= render "vendors/shared/links" %>
