var page = <%= params[:page] %> + 1;
var group_id = <%= @group.id %>;
var forum_id = <%= @forum.id %>;

var url = '/pages/chat?group=' + group_id + '&forum=' + forum_id + '&page=' + page;
$('#nextPageLink').attr('href', url);

<% @posts.each do |post| %>
$('#oldPosts').prepend(
	'<div class="row">' +
	'<div class="col-xs-2">' +
	'<img width=40 src=<%= post.user.profile_image %> class="img-rounded" />' +
	'<p style="font-size:60%;margin:0;line-height:10px;"><%= post.user.name %></p>' +
	'<p style="font-size:40%;margin:0;line-height:8px;"><%= distance_of_time_in_words_to_now(post.created_at.time) %> ago</p>' +
	'</div>' +
	'<div class="col-xs-10">' +
	'<p><%= post.body %></p>' +
	'</div>' +
	'</div>'
	);
<% end %>
