  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
  </style>
  <script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAkmQDcP4u6gG5IULRLAiEjnfpE3vhYUOw&sensor=true">
  </script>
  <script type="text/javascript"
	src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble-compiled.js">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
		// center on Charleston
        center: new google.maps.LatLng(32.864593,-79.974396),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

     	var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);

// loop here for all duty stations in the city
	<% City.first.duty_stations.each do |duty_station| %>
	
	// make boundaries for a neighborhood by looping through all coordinates
		<% @coordinates = Coordinate.where(:duty_station_id => duty_station.id).order(:coordinate_number) %>
  		var dutyStationCoordinates = 
		<%= render '../../public/duty_station_'+ duty_station.id.to_s %>

		var dutyStationPolygon;			
		dutyStationPolygon = new google.maps.Polygon({
		    paths: dutyStationCoordinates,
		    strokeColor: "red",
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: "red",
		    fillOpacity: 0.35
		 });
		
		// call the neighborhood onto the map
		dutyStationPolygon.setMap(map);

		// create content for an info bubble
		var contentString = '<h4><%= duty_station.name %></h4>'

		var infowindow = new InfoBubble({
		    content: contentString,
			maxWidth: 125,
			maxHeight: 100,
			padding: 5
		});

		var marker = new google.maps.Marker({
		    position: new google.maps.LatLng(<%= duty_station.center_coordinate.lat %>, <%= duty_station.center_coordinate.lng %> ),
		    map: map,
		    title: '<%= duty_station.name %>'
		});

	  	infowindow.open(map,marker);

	<% end %> // end loop for all duty stations in the city
	
// put loop here for all neighborhoods in the city
	<% City.first.neighborhoods.each do |neighborhood| %>
				
		// make boundaries for a neighborhood by looping through all coordinates
		<% @coordinates = Coordinate.where(:neighborhood_id => neighborhood.id).order(:coordinate_number) %>
	  	var neighborhoodCoordinates =
		<%= render '../../public/neighborhood_'+ neighborhood.id.to_s %>

		// build the neighborhood polygon
		var neighborhoodPolygon;			
		neighborhoodPolygon = new google.maps.Polygon({
		    paths: neighborhoodCoordinates,
		    strokeColor: "#737392",
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: "#737392",
		    fillOpacity: 0.35
		  });
		
		// call the neighborhood onto the map
		neighborhoodPolygon.setMap(map);
		
		// create the info window
		var contentString = '<h4><%= neighborhood.name %></h4>'
			// put loop here for drive time calculations
			<% neighborhood.city.duty_stations.each do |duty_station| %>
				// check to see if anyone in the neighborhood commutes to the duty station
				<% neighborhood_population = User.where(:neighborhood_id => neighborhood.id, :duty_station_id => duty_station.id).count %>
				<% if neighborhood_population > 0 %>
					// if so, create a line in the popup window that shows the average drive time
					+ '<p>To <%= duty_station.name %> : <%= duty_station.drive_time_from(neighborhood) %> min (<%= neighborhood_population %>)</p>'
				<% end %>
			<% end %>

			// end loop for drive time calcs
			
		var infowindow = new InfoBubble({
		    content: contentString,
			maxWidth: 125,
			maxHeight: 100,
			padding: 5
		});

		var marker = new google.maps.Marker({
		    position: new google.maps.LatLng(<%= neighborhood.center_coordinate.lat %>, <%= neighborhood.center_coordinate.lng %> ),
		    map: map,
		    title: '<%= neighborhood.name %>'
		});

	  	infowindow.open(map,marker);

		// end loop for each neighborhood in the city
	<% end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
<div style="height:500px;">
  <div id="map-canvas"/>
</div>