<div class="container">

<div class="panel panel-default">
  	<div class="panel-body">
		<h1><%= @vendor.business_name %></h1>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<%= image_tag(@vendor.main_image.url(:full), :class => "img-responsive img-rounded") %>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
		<div class="row">
			<div class="col-xs-3">
				<%= image_tag(@vendor.logo_image.url(:thumb), :class => 'img-responsive img-rounded') %>
			</div>
			<div class='col-xs-6'>
				<%= link_to @vendor_map_url, :target => 'blank', :id => 'mapButton' do %>
					<p><%= @vendor.address_line_1 %></p>
					<p><%= @vendor.address_line_2 %></p>
					<p><%= @vendor.city.name %></p>
					<p><%= @vendor.zip_code %></p>
				<% end %>
			</div>
			<div class="col-xs-3">
				<button id='couponButton' class='btn btn-primary btn-block btn-lg'><span class="glyphicon glyphicon-tag"></span></button>
			</div>	
		</div><!-- / row -->
	</div>
</div>

<% if @vendor.promotion_image.exists? %>
	<div id='couponDiv' class="panel panel-default" style="display:none;">
	  	<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<%= image_tag @vendor.promotion_image.url(:full), :class => 'img-responsive' %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="panel panel-default">
  	<div class="panel-body">
		<div class="row">
			<div class="col-xs-4">
				<%= link_to 'mailto:' + @vendor.contact_email, :class => 'btn btn-primary btn-block btn-lg', :id => 'emailButton' do %>
					<span class="glyphicon glyphicon-envelope"></span>
				<% end %>
			</div>
			<div class="col-xs-4">
				<%= link_to 'tel://' + @vendor.phone_number, :class => 'btn btn-primary btn-block btn-lg', :id => 'phoneButton' do %>
					<span class="glyphicon glyphicon-earphone"></span>
				<% end %>
			</div>
			<div class="col-xs-4">
				<button id ='chatButton' class='btn btn-primary btn-block btn-lg'><i class="fa fa-comment"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<p><%= link_to @vendor.site_url, :target => 'blank', :id => 'siteButton' do %>
					<%= @vendor.site_url %>
					<% end %>
					</p>
				<p><%= @vendor.biography %></p>
			</div>
		</div>
	</div>
</div>

<% if Rails.env == "production" %>
<%= render 'posts/post', :post => Post.find(391) %>
<%= render 'posts/post', :post => Post.find(392) %>
<% else %>
<%= render 'posts/post', :post => Post.find(233) %>
<% end %>
</div><!-- /container -->
<%= render 'vendors/shared/registration_items' %>

<%= content_for :javascript do %>
	<script type="text/javascript">
		$('#couponButton').click(function(){
			$('#couponDiv').toggle();
			$.post('/engagements?engagement_type=coupon&vendor_id=1');
		})
		$('#emailButton').click(function(){
			$.post('/engagements?engagement_type=email&vendor_id=1');
		})
		$('#phoneButton').click(function(){
			$.post('/engagements?engagement_type=phone&vendor_id=1');
		})
		$('#chatButton').click(function(){
			$.post('/engagements?engagement_type=chat&vendor_id=1');
		})
		$('#siteButton').click(function(){
			$.post('/engagements?engagement_type=site&vendor_id=1');
		})
		$('#mapButton').click(function(){
			$.post('/engagements?engagement_type=map&vendor_id=1');
		})
	</script>
<% end %>