<div class="form-group">
   	<%= form.label label %>
	<div class="input-group">
	    <%= form.text_field field_1, :class => 'form-control countable placeable', :placeholder => placeholder, :data => { :geo => 'name' } %>
	  	<span class="input-group-addon"><span id=<%=button_1 %> class="glyphicon glyphicon-plus"></span></span>
	</div>
</div>
<div class="form-group">
	<div id=<%= div_2 %> class="input-group">
	  	<%= form.text_field field_2, :class => 'form-control countable placeable', :placeholder => placeholder, :data => { :geo => 'name' } %>
		<span class="input-group-addon"><span id=<%=button_2 %> class="glyphicon glyphicon-plus"></span></span>
	</div>
</div>
<div class="form-group">
	<div id=<%= div_3 %> class="">
    	<%= form.text_field field_3, :class => 'form-control countable placeable', :placeholder => placeholder, :data => { :geo => 'name' } %>
	</div>
</div>