<%= image_tag('Womditty_final_logo.png', :width => '300') %>
<p>Easiest! Log in to Womditty with Facebook:</p>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
	<%= link_to image_tag('facebook-login-button.png'), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
<hr/>

<p>Or, sign in with your email:</p>
	<%= form_for(resource, :as => resource_name, :url => new_session_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :class => 'form-control', :placeholder => 'Enter email' %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password, :class => 'form-control', :placeholder => 'Enter password' %></div>
		<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
	  

	  <div><%= f.submit "Sign in", :class => 'btn btn-block btn-primary btn-lg' %></div>
	<% end %>