  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href=<%= "#" + category_name %>>
          <%= category_name %>
        </a>
      </h4>
    </div>
    <div id=<%= category_name %> class="panel-collapse collapse">
      <div class="panel-body">
			<canvas id='<%= "chart" + category_name %>' style="margin-left:-80px;" width="450" height="200"></canvas>
			<script type="text/javascript">
		
				var ctx = document.getElementById('<%= "chart" + category_name %>').getContext("2d");
				//var myNewChart = new Chart(ctx).PolarArea(data);
				var labels = [];
				var votes = [];
				
				<% hash.each do |pair| %>
				<% unless pair[0].empty? %>
						labels.push('<%= pair[0] %>');
						votes.push('<%= pair[1] %>');
						<% end %>
				<% end %>
				
				
				var options = {
					scaleOverride : true,
					scaleStepWidth : '1',
					scaleSteps : Math.max.apply(null, votes),
					scaleStartValue: 0,
					labelAlign: 'center'
					};
				var data = {
					labels : labels,
					datasets : [
						{
							fillColor : "rgba(220,220,220,0.5)",
							strokeColor : "rgba(220,220,220,1)",
							data : votes
						}
					]
				}
		
				var myNewChart = new Chart(ctx).Bar(data,options);
		
			</script>			
			
      </div>
    </div>
</div>