  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href=<%= "#" + category_name %>>
          <%= category_name %>
        </a>
      </h4>
    </div>
    <div id=<%= category_name %> class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <div id='<%= "chart" + category_name %>' style="height: 400px; width: 100%;"></div>
		
      </div>
    </div>
</div>

<%= content_for :javascript do %>
		  <script type="text/javascript">
		  $(function() {
			  //var dataPoints = [];
		
		      var chart = new CanvasJS.Chart('<%= "chart" + category_name %>', {
				  
			    axisY:{
					 minimum: 0
			       },
				   axisX:{
					   labelFontSize:10
				   },
		        data: [//array of dataSeries              
		          { //dataSeries object

		           /*** Change type "column" to "bar", "area", "line" or "pie"***/
		           type: "bar",
		           dataPoints: [
	   				<% hash.each do |pair| %>
	   					<% unless pair[0].empty? %>
	   					{ label: '<%= pair[0] %>', y:<%= pair[1] %> },
	   					<% end %>
	   				<% end %>
					   	]
		         }
		         ]
		       });

		      chart.render();
		    });
		    </script>
<% end %>