<div class="page-header">
<table>
	<tr>
		<td>
  			<h1><img width='100' src=<%= @user.profile_image %> /><%= @user.name %></h1>
		</td>
		<td>
			<h5><%= @user.member_rank if @user.member_rank %></h5>
			<h5><%= @user.duty_station.name if @user.duty_station %></h5>
			<h5><%= @user.neighborhood.name if @user.neighborhood %></h5>
		</td>
		<td><h5><%= @user.follow_count %> following</h5>
			<h5><%= @user.followers_count %> followers</h5>
			<h5><%= @user.karma %> reputation</h5>
		</td>
	</tr>
</table>
</div>

<% if user_signed_in? %>
  <div id="follow_user">
    <%= render :partial => "shared/follow_user", :locals => {:user => @user} %>
  </div>
<% end %>

<h1>Activity</h1>
	<% @activities.each do |activity| %>
		<div class="activity">
			<%= link_to activity.owner do %>
				<img width='30' src=<%= activity.owner.profile_image %> class='img-rounded'/>
			<% end %>
	  		<%= link_to activity.owner.name, activity.owner if activity.owner %>
			<%= render_activity activity %>
		</div>
	<% end %>

<%= paginate @activities %>