<div class="container">
	<div class="row">
		<% @photos.each do |photo| %>
		<div class="col-sm-6 col-md-4 col-lg-3">
					<%= image_tag(photo.image.url(:medium), :class => 'img-responsive') %>
					<%= link_to user_path(photo.user) do %>
						<%= image_tag(photo.user.profile_image, :class => 'img-rounded', :width => '50') %>
					<% end %>
					<% if photo.post %>
						<%= photo.post.body %>
					<% elsif photo.answer %>
						<%= photo.answer.body %>
					<% end %>
					<br/><br/>
		</div>
		<% end %>
	</div>
</div>