<div class="container">
	<div class="row">
		
	<%= form_tag(posts_path, :multipart => true, :class => 'form-inline' ) do %>

	<%= fields_for "post[]", :photo_attributes do |post_photo| %>
			<%= post_photo.file_field :image, :class => "hidden" %>
			<button id="browse-click" type="button" class="btn btn-default" style="float:left;">
				<span class="glyphicon glyphicon-camera"></span>
			</button>			
			<%= post_photo.hidden_field :user_id, :value => current_user.id %>
	<% end %>
	<% if !current_user.move_status.nil? and current_user.move_status == false %>
		<%= text_field(:post, :body, :class => "form-control", :cols => '75', :style => "float:left;width:60%;", :placeholder => "Say something about Charleston") %>
	<% else %>
		<%= text_field(:post, :body, :class => "form-control", :cols => '75', :style => "float:left;width:60%;", :placeholder => "Ask something about Charleston") %>
	<% end %>
	<%= submit_tag 'Post', :class => 'btn btn-success', :style => "float:left;" %>
	<%= hidden_field(:post, :user_id, :value => current_user.id ) %>

	<% end %>
	</div><!-- /row -->
	</div><!-- /container -->
	
	<% content_for :javascript do %>
	<script type="text/javascript">
	$(window).load(function () {
	    var intervalFunc = function () {
	        $('#file-name').html($('#post_photo_attributes_image').val());
	    };
	    $('#browse-click').on('click', function () { // use .live() for older versions of jQuery
	        $('#post_photo_attributes_image').click();
	        setInterval(intervalFunc, 1);
	        return false;
	    });
	});
	
	$('#post_photo_attributes_image').change(function(){
	    readURL(this, '#browse-click');
	});
	
	</script>
	<% end %>