<div class="row">
	<%= form_tag(posts_path, :class => "form-inline") do %>
		<div class="form-group">
			<img src=<%= current_user.profile_image %> width='50' class="img-rounded" />
		</div>
		
		<div class="form-group">
			<%= text_area(:post, :body, :class => "form-control", :rows => '2', :cols => '75', :placeholder => "New post") %>
		</div>

		<div class="form-group">
	<% if params[:q] %>
		<%= text_field(:post, :tag_list, :placeholder => params[:q][:body_cont], :class => "form-control") %>
	<% else %>
		<%= text_field(:post, :tag_list, :placeholder => 'Tag list, separated by commas', :class => "form-control" ) %>
	<% end %>
		</div>

	<%= submit_tag 'Post', :class => 'btn btn-success' %>
	<%= hidden_field(:post, :user_id, :value => current_user.id ) %>
	
	<% end %>