
<% if current_user.voted_for?(post) %>
	<% if post.votes.where(:voter_id => current_user.id).last.vote %>
		<%= link_to vote_down_post_path(post), :remote => :true, :method => :post, :class => 'btn btn-success' do %>
			<i id="<%= 'heart'+ post.id.to_s %>" class="icon-thumbs-up"></i>
		<% end %>
	<% else %>
		<%= link_to vote_up_post_path(post), :remote => :true, :method => :post, :class => 'btn' do %>
			<i id="<%= 'heart'+ post.id.to_s %>" class="icon-thumbs-up"></i>
		<% end %>
	<% end %>
<% else %>
	<%= link_to vote_up_post_path(post), :remote => :true, :method => :post, :class => 'btn' do %>
		<i id="<%= 'heart'+ post.id.to_s %>" class="icon-thumbs-up"></i>
	<% end %>
<% end %>

<% postLikesCountID = 'postLikesCount'+ post.id.to_s %>
<li id='<%= postLikesCountID %>' ><%= post.plusminus %></li>
	