
	<% postID = 'postID'+post.id.to_s %>
	<% postUserVoteCount = 'postUserVoteCount' + post.user.id.to_s %>

<div class="item" id=<%= postID %>>

	<div class="panel panel-default">
	<div class="panel-body">
		
	<div><%= image_tag(post.photo.image.url, :class => "img-responsive img-rounded") if post.photo %></div>
	<div><%= post.body %></div>
	<div class="pull-right"><%= render 'like_button', :post => post %></div>

	</div><!-- panel-body -->
	<div class="panel-footer">
		
	<span><%= link_to user_path(:id => post.user.id) do %>					
		<img width='30' src=<%= post.user.profile_image %> class="img-rounded" />
		<% end %></span>
	<span><%= post.user.name %></span>
	<span class="badge"><%= post.user.karma %></span>
	</div><!-- panel=body -->

	<ul class="list-group">
		<% if post.answers.any? %>
	<li class="list-group-item active">
		<em><%= post.answers.count %> comments:</em>
		</li>
	<% post.answers.each do |answer| %>
		<%= render 'answers/answer', :answer => answer %>
	<% end %>
	<% end %>
	<li class="list-group-item" id="postAnswerForm<%= "#{post.id}" %>"><form accept-charset="UTF-8" action="/answers" data-remote="false" class="form-inline" enctype="multipart/form-data" method="post">
		<input name="utf8" type="hidden" value="&#x2713;" />
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<input id="answer_body" name="answer[body]" size="30" type="text" />
		<input id="answer_photo_attributes_image" name="answer[photo_attributes][image]" type="file" />
		<input id="answer_photo_attributes_user_id" name="answer[photo_attributes][user_id]" type="hidden" value="<%= current_user.id %>" />
		<input id="answer_user_id" name="answer[user_id]" type="hidden" value="<%= current_user.id %>" />
		<input id="answer_post_id" name="answer[post_id]" type="hidden" value="<%= post.id %>" />
		<input class="btn" name="commit" type="submit" value="Comment" />
	</form>
	</li>
	</ul>
</div><!--panel panel-default -->

</div><!-- item -->

