<% if current_user.move_status.nil? %>
<%= render 'users/set_move_status' %>
<% end %>

<div id="container">
	<div class="col-xs-2">
		<%= render 'posts/group_menu' %>
	</div>
	<div class="col-xs-3" id='postList'>
		<%= render 'posts/post_list', :posts => @posts %>
	</div>
	<div class="col-xs-7" id='postShow'>
		<%= render 'posts/current_post' %>
	</div>
</div>

<%= paginate @posts %>

</div><!-- /container -->

<% content_for :javascript do %>
<script type="text/javascript">

function readURL(input, element) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(element).html(
				'<img src=' +
					e.target.result +
				 	' width="35" />'
				)
        }

        reader.readAsDataURL(input.files[0]);
    }
}

var tour = new Tour({
	backdrop: false,
	template: "<div class='popover tour'>" +
	  "<div class='arrow'></div>" +
	  "<h3 class='popover-title' style='background-color:#3333CC;color:#FFF;'></h3>" +
	  "<div class='popover-content'></div>" +
	  "<div class='popover-navigation'>" +
	    "<button class='btn btn-default' data-role='prev'>« Prev</button>" +
	    "<span data-role='separator'> </span>" +
	    "<button class='btn btn-default' data-role='next'>Next »</button>" +
	    "<button class='btn btn-default' data-role='end'>End tour</button>" +
	  "</div>" +
	"</div>"
});

var thumbsUpElement = "#" + $('i')[0].id;

tour.addSteps([
  {
    element: "#q_body_cont", // string (jQuery selector) - html element next to which the step popover should be shown
    title: "Search Local Tips", // string - title of the popover
    content: "Check out past conversations for word of mouth knowledge that can't be found anywhere else. (1 of 3)", // string - content of the popover
	onShow: function(tour) {
		ga('send', 'event', 'Tour', 'Start');
	},
  	onNext: function(tour) {
		ga('send', 'event', 'Tour', 'Next Button Pressed', 'From Step 1');
	},
  },
  {
    element: "#post_body",
    title: "Ask Anything!",
	placement: "top",
    content: "Questions are seen by dozens of local residents who want to help incoming military families. You'll get an email when there's an answer. (2 of 3)",
  	onNext: function(tour) {
		ga('send', 'event', 'Tour', 'Next Button Pressed', 'From Step 2');
	},
  	onPrev: function(tour) {
		ga('send', 'event', 'Tour', 'Prev Button Pressed', 'From Step 2');
	}
  },
  {
    element: thumbsUpElement,
    title: "Get Involved",
    content: "Like what you see? Give it a thumbs up. That way everyone knows what the best advice is. (3 of 3)",
  	onPrev: function(tour) {
		ga('send', 'event', 'Tour', 'Prev Button Pressed', 'From Step 3');
	},
	onHide: function(tour) {
		ga('send', 'event', 'Tour', 'Ended', 'At Completion');
	}
  }
]);

// Initialize the tour
tour.init();

// Start the tour
tour.start();

</script>
<% end %>