<% if current_user.move_status.nil? %>
<%= render 'users/set_move_status' %>
<% end %>

<div id="container">
	<div class="col-xs-2">
		<%= render 'posts/group_menu' %>
	</div>
	<div class="col-xs-3" id='postList'>
		<%= render 'posts/post_list', :posts => @posts %>
	</div>
	<div class="col-xs-7" id='postShow'>
		<%= render 'posts/current_post' %>
	</div>
</div>

<%= paginate @posts %>

</div><!-- /container -->

<% content_for :javascript do %>
<script type="text/javascript">

function readURL(input, element) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(element).html(
				'<img src=' +
					e.target.result +
				 	' width="35" />'
				)
        }

        reader.readAsDataURL(input.files[0]);
    }
}

</script>
<% end %>