<%= render 'inline_post' %>

<%- model_class = Post -%>
<!-- <div class="page-header"> -->
  <h3 class="pull-left">Discussion on Charleston...</h3>
	<div class="pull-right form-inline">
	<%= search_form_for @search, :class => "pull-right form-inline" do |f| %>
	    <%= f.text_field :body_cont, :class => 'form-inline' %>
		<%= f.submit "Search", :class => 'btn' %>
	<% end %>
	</div>
<!-- </div> -->
<table id="posts" class="table">
  <thead>
  </thead>
  <tbody class="page">
	<%= render @posts %>
  </tbody>
</table>

<%= paginate @posts %>
