<%= form_for(@wait_list) do |f| %>
  <% if @wait_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wait_list.errors.count, "error") %> prohibited this wait_list from being saved:</h2>

      <ul>
      <% @wait_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
