
<div class="jumbotron">
      <div class="container">
        <h1><%= @neighborhood.name %></h1>
      </div><!-- /container -->
    </div><!-- jumbotron -->

<div class="container"><!-- main container -->
	<!-- love -->
		<div class="row">
			<div class="col-lg-12">
				<h3><span class="glyphicon glyphicon-heart"></span> What you'll love about it</h3>
				<%= image_tag(@neighborhood.love.url(:full), :class => "img-responsive", :width => '1140'  ) %>
				<%= render 'neighborhoods/carousel', {:topic => "love", :sortOrder => "a"} %>
			</div><!-- /jumbotron -->
			</div>
	<br />
	<!-- /love -->

	<br/>

	<div class="row">
			<iframe class="col-sm-6 col-md-4" src=<%= @neighborhood.population_density %> width="340" height="630" scrolling="no" frameborder="0" style="border:none;"></iframe>
			<iframe class="col-sm-6 col-md-4" src=<%= @neighborhood.consumer_price %> width="340" height="630" scrolling="no" frameborder="0" style="border:none;"></iframe>
			<iframe class="col-sm-6 col-md-4" src=<%= @neighborhood.drive_time %> width="340" height="630" scrolling="no" frameborder="0" style="border:none;"></iframe>
	</div>
	
<!-- lifestyle -->
	<div class="row">
		<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-heart"></span> The lifestyle</h3>
			<%= image_tag(@neighborhood.lifestyle.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "lifestyle", :sortOrder => "b"} %>
		</div><!-- /jumbotron -->
		</div>
<br />
<!-- /lifestyle -->

<!-- grocery_stores -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-shopping-cart"></span> Grocery stores</h3>
			<%= image_tag(@neighborhood.grocery_stores.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "grocery_stores", :sortOrder => "c"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /grocery_stores -->

<!-- community_amenities -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-flag"></span> Community amenities</h3>
			<%= image_tag(@neighborhood.community_amenities.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "community_amenities", :sortOrder => "d"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /community_amenities -->

<!-- housing -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-home"></span> Housing</h3>
			<%= image_tag(@neighborhood.housing.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "housing", :sortOrder => "e"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /housing -->

<div class="row">
	<div class="col-sm-6 col-md-4">
		<iframe src=<%= @neighborhood.household_income %> width="340" height="630" scrolling="no" frameborder="0" style="border:none;"></iframe>
	</div>
	<div class="col-sm-6 col-md-4">
		<iframe src=<%= @neighborhood.education_level %> width="340" height="630" scrolling="no" frameborder="0" style="border:none;"></iframe>
	</div>
	<div class="col-sm-6 col-md-4">
		<iframe src=<%= @neighborhood.house_value %> width="340" height="630" scrolling="no" frameborder="0" style="border:none;"></iframe>
	</div>
</div>

<!-- restaurants -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-cutlery"></span> Restaurants</h3>
			<%= image_tag(@neighborhood.restaurants.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "restaurants", :sortOrder => "f"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /restaurants -->

<!-- pets -->
<div class="row">
	<div class="col-lg-12">
			<h3><i class="fa fa-bug"></i> Pets</h3>
			<%= image_tag(@neighborhood.pets.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "pets", :sortOrder => "g"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /pets -->

<!-- shopping -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-tags"></span> Shopping</h3>
			<%= image_tag(@neighborhood.shopping.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "shopping", :sortOrder => "h"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /shopping -->

<!-- kids -->
<div class="row">
	<div class="col-lg-12">
			<h3><i class="fa fa-smile-o"></i> Kids</h3>
			<%= image_tag(@neighborhood.kids.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "kids", :sortOrder => "i"}%>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /kids -->

<!-- schools -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-book"></span> Schools</h3>
			<%= image_tag(@neighborhood.schools.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "schools", :sortOrder => "j"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /schools -->

<!-- traffic -->
<div class="row">
	<div class="col-lg-12">
			<h3><i class="fa fa-truck"></i> Traffic</h3>
			<%= image_tag(@neighborhood.traffic.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "traffic", :sortOrder => "k"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /traffic -->

<!-- walkability -->
<div class="row">
	<div class="col-lg-12">
			<h3><span class="glyphicon glyphicon-user"></span> Walkability</h3>
			<%= image_tag(@neighborhood.walkability.url(:full), :class => "img-responsive", :width => '1140'  ) %>
			<%= render 'neighborhoods/carousel', {:topic => "walkability", :sortOrder => "l"} %>
				</div><!-- /jumbotron -->
				</div>
		<br />

<!-- /walkability -->

</div><!-- /container -->
<div class="jumbotron">
      <div class="container">
		<ul class="list-inline">
			<li><h3><span class="glyphicon glyphicon-heart"></span> Not bad for an overview.</h3>
				<p>Now log in to learn more from the <%= User.all.count %> Womditty users who live here.</p></li>
			<li class="pull-right"><p><%= link_to posts_path, :class => 'btn btn-primary' do %>
			Log in
		<% end %></p></li>
		</ul>
      </div><!-- /container -->
    </div><!-- jumbotron -->
