<%= form_for @inquiry do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Military</li>
		<li>Interests</li>
		<li>Contact Info</li>
		<li>Realtor</li>
	</ul>
	<fieldset><!-- military -->
		<h2 class="fs-title">Military Info</h2>
		<h3 class="fs-subtitle">This will help us get to know you and start looking for a place!</h3>
		<%= f.label :rank %>
		<p>
		  <button type="button" id="radioOfficer" class="rank-btn btn btn-default btn-lg">Officer</button>
		  <button type="button" id="radioEnlisted" class="rank-btn btn btn-default btn-lg">Enlisted</button>
		</p>		
	    <%= f.label :command %><br />
		<p>
		  <button type="button" id="radioJB" class="command-btn btn btn-default btn-lg">Joint Base Charleston</button>
		  <button type="button" id="radioNukeSchool" class="command-btn btn btn-default btn-lg">Nuclear Power School</button>
		  <button type="button" id="radioPrototype" class="command-btn btn btn-default btn-lg">Prototype</button>
		  <button type="button" id="radioSpawar" class="command-btn btn btn-default btn-lg">SPAWAR</button>
		  <button type="button" id="radioCoastGuard" class="command-btn btn btn-default btn-lg">Coast Guard</button>
		  <button type="button" id="radioOther" class="command-btn btn btn-default btn-lg">Other</button>		
		</p>
	<button type="button" name="next" class="btn btn-primary next action-button" value="Next">Next</button>
	</fieldset><!-- /military -->
	
	<fieldset><!-- interests -->
		<h2 class="fs-title">Housing Needs</h2>
		<h3 class="fs-subtitle">This helps us narrow down the options.</h3>
	    <%= f.label 'How many bedrooms are you looking for?' %><br />
		<p>
	  <button type="button" id="radioBedroom1" class="bedroom-btn btn btn-default btn-lg">1</button>
	  <button type="button" id="radioBedroom2" class="bedroom-btn btn btn-default btn-lg">2</button>
	  <button type="button" id="radioBedroom3" class="bedroom-btn btn btn-default btn-lg">3</button>
	  <button type="button" id="radioBedroom4" class="bedroom-btn btn btn-default btn-lg">4</button>
	  <button type="button" id="radioBedroom5" class="bedroom-btn btn btn-default btn-lg">5</button>
 		</p>
    <%= f.label 'What month do you plan to move?' %><br />
		<p>
	  <button type="button" id="radioMoveMonth1" class="month-btn btn btn-default btn-lg" value="1">Jan</button>
	  <button type="button" id="radioMoveMonth2" class="month-btn btn btn-default btn-lg" value="2">Feb</button>
	  <button type="button" id="radioMoveMonth3" class="month-btn btn btn-default btn-lg" value="3">Mar</button>
	  <button type="button" id="radioMoveMonth4" class="month-btn btn btn-default btn-lg" value="4">Apr</button>
	  <button type="button" id="radioMoveMonth5" class="month-btn btn btn-default btn-lg" value="5">May</button>
	  <button type="button" id="radioMoveMonth6" class="month-btn btn btn-default btn-lg" value="6">June</button>
	  <button type="button" id="radioMoveMonth7" class="month-btn btn btn-default btn-lg" value="7">July</button>
	  <button type="button" id="radioMoveMonth8" class="month-btn btn btn-default btn-lg" value="8">Aug</button>
	  <button type="button" id="radioMoveMonth9" class="month-btn btn btn-default btn-lg" value="9">Sept</button>
	  <button type="button" id="radioMoveMonth10" class="month-btn btn btn-default btn-lg" value="10">Oct</button>
	  <button type="button" id="radioMoveMonth11" class="month-btn btn btn-default btn-lg" value="11">Nov</button>
	  <button type="button" id="radioMoveMonth12" class="month-btn btn btn-default btn-lg" value="12">Dec</button>
		</p>
	    <%= f.label 'What year?' %><br />
		<p>
	  <button type="button" id="radioMoveYear2014" class="year-btn btn btn-default btn-lg" value="2014">2014</button>
	  <button type="button" id="radioMoveYear2015" class="year-btn btn btn-default btn-lg" value="2015">2015</button>
		</p>
		<button type="button" name="previous" class="btn btn-primary previous action-button" value="Previous">Previous</button>
		<button type="button" name="next" class="btn btn-primary next action-button" value="Next">Next</button>
	</fieldset><!-- /interests -->

	<fieldset><!-- personal -->
		<h2 class="fs-title">Contact Info</h2>
		<h3 class="fs-subtitle">Our military-savvy realtors will contact you within 24 hours, usually faster.</h3>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :placeholder => 'First Name' %>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :placeholder => 'Last Name' %>
    	<%= f.label :phone_number %><br />
    	<%= f.phone_field :phone_number, :placeholder => 'Phone' %>
    	<%= f.label :email %><br />
    	<%= f.text_field :email, :placeholder => 'Email', :required => 'required', :type => 'email' %>
	<button type="button" name="previous" class="btn btn-primary previous action-button" value="Previous">Previous</button>
	<button type="submit" name="commit" value="Done!" class="btn btn-default">Done!</button>
	</fieldset><!-- /personal -->

    <%= f.text_field :rank, :type => 'hidden' %>
    <%= f.text_field :command, :type => 'hidden' %>
    <%= f.number_field :number_of_bedrooms, :type => 'hidden' %>
    <%= f.date_select :move_date, :type => 'hidden' %>

<% end %>

<%= content_for :javascript do %>
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
	<script src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'></script>
	<script type='text/javascript'>
	//jQuery time
	var current_fs, next_fs, previous_fs; //fieldsets
	var left, opacity, scale; //fieldset properties which we will animate
	var animating; //flag to prevent quick multi-click glitches

	$('.next').click(function(){
		if(animating) return false;
		animating = true;

		current_fs = $(this).parent();
		next_fs = $(this).parent().next();

		//activate next step on progressbar using the index of next_fs
		$('#progressbar li').eq($('fieldset').index(next_fs)).addClass('active');

		//show the next fieldset
		next_fs.show(); 
		//hide the current fieldset with style
		current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
				//as the opacity of current_fs reduces to 0 - stored in 'now'
				//1. scale current_fs down to 80%
				scale = 1 - (1 - now) * 0.2;
				//2. bring next_fs from the right(50%)
				left = (now * 50)+'%';
				//3. increase opacity of next_fs to 1 as it moves in
				opacity = 1 - now;
				current_fs.css({'transform': 'scale('+scale+')'});
				next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
				current_fs.hide();
				animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
		});
	});

	$('.previous').click(function(){
		if(animating) return false;
		animating = true;

		current_fs = $(this).parent();
		previous_fs = $(this).parent().prev();

		//de-activate current step on progressbar
		$('#progressbar li').eq($('fieldset').index(current_fs)).removeClass('active');

		//show the previous fieldset
		previous_fs.show(); 
		//hide the current fieldset with style
		current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
				//as the opacity of current_fs reduces to 0 - stored in 'now'
				//1. scale previous_fs from 80% to 100%
				scale = 0.8 + (1 - now) * 0.2;
				//2. take current_fs to the right(50%) - from 0%
				left = ((1-now) * 50)+'%';
				//3. increase opacity of previous_fs to 1 as it moves in
				opacity = 1 - now;
				current_fs.css({'left': left});
				previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
				current_fs.hide();
				animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
		});
	});

	$('.submit').click(function(){
		return false;
	});
	
	$(window).load(function () {
		$('#inquiry_move_date_3i').val('1'); // set the move day to the first of the month
		$('.rank-btn').on('click', function () { 
			$('.rank-btn').removeClass('btn-success').addClass('btn-default');
	       	$('#inquiry_rank').val($(this).html());
			$(this).removeClass('btn-default').addClass('btn-success');
	   });
		$('.command-btn').on('click', function () { 
			$('.command-btn').removeClass('btn-success').addClass('btn-default');
			$('#inquiry_command').val($(this).html());
			$(this).removeClass('btn-default').addClass('btn-success');
		   });
		$('.bedroom-btn').on('click', function () { 
			$('.bedroom-btn').removeClass('btn-success').addClass('btn-default');
			$('#inquiry_number_of_bedrooms').val($(this).html());
			$(this).removeClass('btn-default').addClass('btn-success');
		   });
		$('.month-btn').on('click', function () { 
			$('.month-btn').removeClass('btn-success').addClass('btn-default');
			$('#inquiry_move_date_2i').val($(this).val());
			$(this).removeClass('btn-default').addClass('btn-success');
		   });
		$('.year-btn').on('click', function () { 
			$('.year-btn').removeClass('btn-success').addClass('btn-default');
			$('#inquiry_move_date_1i').val($(this).val());
			$(this).removeClass('btn-default').addClass('btn-success');
		   });
		});	
	$('#inquiry_phone_number').blur(function(){
		$(this).val(function(i, text) {
			    return text.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
			});
	});
	
	$('#new_inquiry').validate();
	
	</script>
<% end %>