<%= form_for @place, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line2, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :neighborhood_id, :class => 'control-label' %>
    <div class="controls">
	  <%= f.collection_select( :neighborhood_id, Neighborhood.all, :id, :name ) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city_id, :class => 'control-label' %>
    <div class="controls">
	  <%= f.collection_select( :city_id, City.all, :id, :name ) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :zip_code, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :xgps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :xgps, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ygps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ygps, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :place_type, :class => 'control-label' %>
    <div class="controls">
	    <%= f.select :place_type, Place.place_types %>
    </div>
  </div>
  <div class="control-group">
	  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                places_path, :class => 'btn' %>
  </div>
<% end %>
