<%- model_class = Place -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address_line1) %></th>
      <th><%= model_class.human_attribute_name(:neighborhood_id) %></th>
      <th><%= model_class.human_attribute_name(:place_type) %></th>
	  <th>Tags</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to 'Add Discount', new_military_discount_path(:place => place), :class => 'btn' %></td>
        <td><%= place.name %></td>
        <td><%= place.address_line1 %></td>
        <td><%= place.neighborhood.name %></td>
        <td><%= place.place_type %></td>
		<td><%= raw place.tag_list.map{|t| t}.join(', ') %></td>
		
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_place_path(place), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      place_path(place),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_place_path,
            :class => 'btn btn-primary' %>
