<%= render 'layouts/user_menu' %>
<%= render 'layouts/private_chat_menu' %>
<%= render 'layouts/extras_menu' %>
<%= render 'layouts/channel_menu' %>

<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="row">
			<div id="postForm" style="width:93%;margin-left:15px;">
			<%= form_for Post.new, :html => { class: 'form-inline', remote: true } do |f| %>
			    <div class="input-group">
					<%= f.text_field :body, :class => 'form-control' %>
			      <span class="input-group-btn">
					<%= f.submit "Send", :class => 'btn btn-success' %>
			      </span>
			    </div><!-- /input-group -->
				<%= f.hidden_field :group_id, :value => @group.id %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<% end %>

				</div><!-- /postForm -->
		</div><!-- /row -->
		<div class="row">
		<div class="btn-group btn-group-lg btn-group-justified">
			<a class="btn btn-primary active" role="button" data-toggle="modal" data-target="#userMenu" href="#"><span class="glyphicon glyphicon-user"></span>(<%= @number_of_users_in_group %>)</a>
			<a class="btn btn-primary active" role="button" data-toggle="modal" data-target="#privateChatMenu" href="#">
				<% if @private_notification %>
				<i class="fa fa-comment" style="color:orange;"></i>
				<% else %>
				<i class="fa fa-comment"></i>
				<% end %>
				</a>
			<a class="btn btn-primary active" role="button" id="focusOnInput" href="#"><span class="glyphicon glyphicon-edit"></span></a>
			<a class="btn btn-primary active" role="button" data-toggle="modal" data-target="#extrasMenu" href="#"><span class="glyphicon glyphicon-list"></span></a>
		</div><!-- /btn group justified -->
		</div>
    </nav>
	</div><!-- /footer -->
	
<%= content_for :javascript do %>
	<script type="text/javascript">
		$('#focusOnInput').click(function(){
			$('#post_body').focus();
		});
		</script>
		<% end %>