<div class="modal fade" id="userMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% unless @group.private_group %>
		<p><%= @forum.name %></p>
		<% end %>
       <h4 class="modal-title" id="myModalLabel"><%= @group.name %></h4>
      </div>
      <div class="modal-body">
			<% @users_in_group.each do |user| %>
			<div class="row">
				<div class="col-xs-2" style="padding-left:5px;padding-right:5px;">
					<h4><%= image_tag(user.profile_image, :width => '50', :class => 'img-rounded img-responsive') %></h4>
					</div>
				<div class="col-xs-6">
					<h4><%= user.name %></h4>
					<p style="font-size:80%;"><%= user.city.name if user.city %> <%= user.karma %></p>
					</div>
				<div class="col-xs-2">
					<%= link_to pages_chat_path(:initiator => current_user, :receiver => user), :class => "btn btn-primary btn-lg active" do %>
					<i class="fa fa-comment"></i>
					<% end %>
					</div>
				</div><!-- /row -->
			<% end %>
      </div><!-- /modal body -->
    </div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->

<%= content_for :javascript do %>
	<script type="text/javascript">
	//close the modal?
	</script>
	<% end %>