<!DOCTYPE html>
<html lang="en">
  <head>
	<%= content_for :head %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
	<%= include_gon(watch: true)%>
    <%= stylesheet_link_tag "application", :media => "all" %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	
	<!-- google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49492177-1', 'urbanrecon.co');
	  ga('send', 'pageview');

		<% if flash[:analytics] %>
		  ga('send', 'pageview', "<%=flash[:analytics]%>");
		<% end %>

	</script>
  </head>
  <body style="background-color:lightgray;">

	<%= render 'layouts/top_menu' if params[:action] == "chat" %>

    <%= yield %>

	<%= render 'layouts/bottom_menu' if params[:action] == "chat" %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <%= javascript_include_tag "application" %>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js" type="text/javascript"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	
	<%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>

	<script type="text/javascript">
	$(document).ready(function() {
	  ga(function(tracker) {
	    var clientId = tracker.get('clientId');
	    $('.ga-client-id').val(clientId);
		document.cookie='clientId='+clientId;
	  });
	});
	
	// for faster tap events on mobile
	$(function() {
	    FastClick.attach('.btn');
	});
	
	</script>
	<%= yield :javascript %>
  </body>
</html>
